<!DOCTYPE html>
<!--Author: Arnþór-->
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>TicTacToe</title>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="@{'/public/javascripts/TicTacToe2.js'}"></script>
 </head>
 <body>
  <canvas id="c" height="400" width="400">
   No HTML5 Browser Support
  </canvas>
  <button onclick="Play()">New Game</button>

 </body>
</html>